.p-post-content {
    width: 100%;
    &-area {
        background: $slate_gray;
        margin-top: 60px;
        padding: 20px;
        @include fz(16);

        * {
            margin-top: 10px;
        }
        h3 {
            border-bottom: 1px solid $gray;
            margin: 40px 0;
            @include fz(18);
        }
        pre {
            background: $navy;
            padding: 20px;
            overflow-x: scroll;
            code {
                @include fz(14);
            }
        }
    }
    &-date {
        margin-top: 10px;
        @include fz(14);
    }
    &-title {
        @include fz(20);
    }
}
