.l-globalHeader {
    background-color: $default_color;
    display: block;
    padding: 20px;
    &-inner {

    }
    &List {
        &Item {
            a {
                color: $black_thin;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &Nav {
    }
    &Title {
        @include fz(24);
        a {
            color: #333;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
