.l-globalHeader {
    background-color: $default_color;
    display: block;
    padding: 20px;
    &-inner {

    }
    &List {
        &Item {
            a {
                color: $black_thin;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &Nav {
    }
    &Title {
        line-height: 1;
        text-align: center;
        @include fz(50);
        @extend .font-parisienne;
        a {
            color: #333;
            text-decoration: none;
            transition: opacity .5s;
            @include hover_action(map_get($breakpoints, 'tb')) {
                opacity: .6;
            }
        }
    }
}
