.c-has-thumbnail {
    &-item {
        background-color: $gray;
        color: $black_thin;
        display: block;
        width: 32%;
        &s {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &:after {
                content: '';
                display: block;
                height: 100%;
                width: 32%;
            }
        }
        &-inner {
            color: inherit;
            display: block;
            padding: 10px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            &:before {
                background-color: #fff;
                content: '';
                display: block;
                height: 100%;
                left: -100%;
                position: absolute;
                top: 0;
                transition: left .4s;
                width: 100%;
            }
            &:hover {
                &:before {
                    left: 0;
                }
            }
        }
        &-img {
            display: block;
            overflow: hidden;
            padding-top: 60%;
            position: relative;
            img {
                display: block;
                height: auto;
                left: 50%;
                position: absolute;
                max-width: 100%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
        &-title {
            display: block;
            margin-top: 5px;
            position: relative;
            @include fz(14);
        }
        &-date {
            display: block;
            margin-top: 5px;
            position: relative;
            @include fz(12);
        }
    }
}

@include breakpoint(sp) {
    .c-has-thumbnail {
        &-item {
            width: 48%;
            &s {
                &:after {
                    content: none;
                }
            }
            &-img {
            }
            &-title {

            }
            &-date {

            }
        }
    }
}
