.c-flower {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:before {
        animation: a 5s ease-out infinite;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        background: linear-gradient(100deg, #000, #666);
        border-radius: 50%;
        box-shadow: 5px 5px 5px 5px blue;
        content: "";
        display: block;
        height: 80px;
        left: 40%;
        position: absolute;
        top: 35%;
        width: 80px;
    }
}

@keyframes spin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.01);
        transform: rotate(0deg) scale(0.01);
    }
    20% {
        opacity: 100;
        -webkit-transform: rotate(324deg) scale(1);
        transform: rotate(324deg) scale(1);
    }
    60% {
        opacity: 100;
        -webkit-transform: rotate(324deg) scale(1);
        transform: rotate(324deg) scale(1);
    }
    80% {
        opacity: 0;
        -webkit-transform: rotate(720deg) scale(0.01);
        transform: rotate(720deg) scale(0.01);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.01);
        transform: rotate(720deg) scale(0.01);
    }
}
