$breakpoints: (
	tb: 768px,
	sp: 500px
);

$default_color: #fff;
$mono:#393939;
$black_thin: #333;
$gray: #ccc;
$dimgray: #696969;
$navy: #202f55;
$slate_gray: #626063;

@mixin breakpoint($size) {
	$flg: false;
	@each $breakpoint, $value in $breakpoints {
		@if $size == $breakpoint {
			$flg: true;
			@media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
				@content;
			}
		}
	}
	@if $flg == false {
		@media only screen and ($size) {
			@content;
		}
	}
}

@include breakpoint(sp) {
	* {
		box-sizing: border-box !important;
		float: none !important;
		max-width: 100%;
	}
}

@mixin fz($size) {
	// font-size: $size + px;
	$base: 16;
	font-size: ($size / $base) + rem;
}

@mixin hover_action($size: false) {
	transition: all .6s;
	@if $size != false {
		@media only screen and (min-width: $size + 1) {
			&:hover {
				@content;
			}
		}
	}
	@else {
		&:hover {
			@content;
		}
	}
}
