{% extends 'base.html' %}
{% block content %}
<main class="l-area">
    <section class="l-area-inner">
        <article class="p-about">
            <h2 class="p-about-title"><a href="https://github.com/hltree">hltree</a></h2>
            <h3 class="p-about-subtitle">使用言語</h3>
            <p class="p-about-text">
                Use Language: HTML, CSS, JavaScript, PHP, Python
            </p>
            <h3 class="p-about-subtitle">保有資格</h3>
            <ul class="c-ul">
                <li class="c-ul-item"><a href="https://www.phpexam.jp/summary/novice7/">PHP7技術者認定初級試験</a></li>
            </ul>
            <h3 class="p-about-subtitle">リンク</h3>
            <ul class="c-ul">
                <li class="c-ul-item"><a href="https://github.com/hltree">Github</a></li>
                <li class="c-ul-item"><a href="https://twitter.com/hltree">Twitter</a></li>
                <li class="c-ul-item"><a href="https://codepen.io/hltree/">Codepen（ほぼコード共有用にしか使用していない）</a></li>
            </ul>
        </article>
    </section>
</main>
{% endblock %}
