{% extends 'base.html' %}
{% block content %}
    <main class="l-area">
        <section class="l-area-inner">
            <div class="c-has-thumbnail-items">
                {% for post in posts %}
                <article class="c-has-thumbnail-item">
                    <a href="{% url 'post_detail' post.id %}" class="c-has-thumbnail-item-inner">
                        <span class="c-has-thumbnail-item-img">
                            {% if post.image %}
                                <img src='/{{post.image}}'>
                            {% else %}
                                <span class="c-readmoreText"></span>
                            {% endif %}
                        </span>
                        <span class="c-has-thumbnail-item-title">{{post.title}}</span>
                        <span class="c-has-thumbnail-item-date">{{post.published}}</span>
                    </a>
                </article>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
