{% extends 'base.html' %}
{% block content %}
    <main class="l-area">
        <section class="l-area-inner">
            <div class="p-post-list">
                {% for post in posts %}
                <article class="p-post-list-item">
                    <a href="{% url 'post_detail' post.id %}" class="p-post-list-item-inner">
                        <span class="p-post-list-item-date">{{post.published}}</span>
                        <span class="p-post-list-item-title">{{post.title}}</span>
                    </a>
                </article>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
