{% extends 'base.html' %}
{% load custom_markdownx %}
{% block content %}
    <main class="l-area">
        <section class="l-area-inner">
            <div class="c-has-thumbnail-items">
                <article class="p-post-content">
                    {% if post.image %}
                        <p class="p-post-content-img"><img src='/{{post.image}}'></p>
                    {% endif %}
                    <h2 class="p-post-content-title">{{post.title}}</h2>
                    <p class="p-post-content-date">{{post.published}}</p>
                    <div class="p-post-content-area">
                        {{post.content | markdown_to_html}}
                    </div>
                </article>
            </div>
        </section>
    </main>
{% endblock %}
