<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Worker List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>タイトル</th>
        <th>投稿日</th>
        <th>アイキャッチ</th>
        <th>内容</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td>{{post.title}}</td>
        <td>{{post.published}}</td>
        <td>{{post.image}}</td>
        <td>{{post.content}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
