<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="stylesheet" href="uploads/{% static 'build/css/style.css' %}">
    <title>Index</title>
</head>
<body>
<div class="l-wrap">
    <main class="l-area">
        <section class="l-area-inner">
            <div class="c-has-thumbnail-items">
                {% for post in posts %}
                <article class="c-has-thumbnail-item">
                    <div class="c-has-thumbnail-item-img"><img src='{{post.image.url}}'></div>
                    <div class="c-has-thumbnail-item-title">{{post.title}}</div>
                    <div class="c-has-thumbnail-item-date">{{post.published}}</div>
                </article>
                {% endfor %}
            </div>
        </section>
    </main>
</div>
</body>
</html>
